<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.SH.Mapper.ITeacherMapper">



    <select id="SelectAll" resultType="com.SH.Bean.Teacher">
    select * from teacher
    </select>

    <insert id="InsertOne" parameterType="com.SH.Bean.Teacher">
        insert into teacher values(#{tid},#{tname},#{tmail})
    </insert>

    <delete id="DeleteOne" parameterType="int">
        delete from teacher where tid=#{tid}
    </delete>

    <update id="UpdateOne" parameterType="com.SH.Bean.Teacher">
        update teacher set tname=#{tname},tmail=#{tmail} where tid=#{tid}
    </update>


</mapper>